<<<<<<< HEAD

body { 
 background: url(http://static2.businessinsider.com/image/52407393eab8ea475d8b4567/chipotle-is-one-step-closer-to-entering-the-breakfast-market.jpg) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color:#333
=======
body { 
    background: url(http://static2.businessinsider.com/image/52407393eab8ea475d8b4567/chipotle-is-one-step-closer-to-entering-the-breakfast-market.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#333;
>>>>>>> 229e822d0e21112ee278fddf2ac70cc954be0595
}
.page-header{
    text-align: center;
    color: white;
}
.page-header small{
    color:white;
}
h1{
    color: white;
}
small{
    color:white;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.button{
    background-image: url('/app/images/uberbutton.png');
    background-size: cover;
    width: 25em;
    height: 4em;
    margin: 0 auto;
}
<<<<<<< HEAD
#time{
    text-align: right;
    margin-top: 2%;
    padding-top: 5ex;
    padding-right: 3ex;   
}
#googleMap{
   margin-top:10em;
   border:solid 10px #581515 
}   
h1 {
   font-family: 'Ceviche One', cursive;
   color: white;
}
=======
#googleMap{
    margin-top:6em;
    border:solid 10px #581515; 
    margin-bottom:5em;
}  
#price{
    padding-top:2px;
    text-align: right;
    padding-right: 4.3ex;
    font-size: 2ex;
}
#time{
    text-align: right;
    padding-right: 4ex;
    font-size: 2ex;
}
a{
    text-decoration: none;
}

>>>>>>> 229e822d0e21112ee278fddf2ac70cc954be0595
